[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = http://github.com/Rip-Rip/clang_complete
[submodule "bundle/detectindent"]
	path = bundle/detectindent
	url = http://github.com/ciaranm/detectindent
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/vim-scripts/ack.vim.git
